.max-width-wrapper {
    max-width: 800px;
    display: flex;
    flex: 800px;
}

.navbar-container {
    display: flex;
    justify-content: center;
    background-color: #b71c1c;
    color: #fff;
    padding: 0;
    margin: 0;
}

.navbar-navigation-buttons {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 40px;
    box-sizing: border-box;
}

.navbar-navigation-buttons li {
    display: flex;
    padding: 0 15px;
    margin: 0;
    box-sizing: border-box;
    height: 40px;
    align-items: center;
}

.navbar-navigation-buttons li:hover {
    cursor: pointer;
    background-color: #7f0000;
}

.navbar-language-dropdown {
    display: flex;
    align-self: center;
    box-sizing: border-box;
    padding: 0 5px;
    margin-left: auto;
}

.navbar-language-dropdown select {
    margin: 0;
    margin-top: 2px;
    box-sizing: border-box;
    margin-left: 5px;
    height: 20px;
}
